.button-light {
  display: inline-block;
  background-color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 17.5px;
  color: #333 !important;
  transition: all .2s;

  &:hover {
    background-color: #eee;
    text-decoration: none;
  }
}
