.header-primary {
  font-size: 50px;
  font-weight: bold;
}

.header-secondary {
  font-size: 40px;
  font-weight: bold;
}

.header-tertiary {
  font-size: 30px;
  font-weight: bold;
}

.header-fourth {
  font-size: 25px;
  font-weight: bold;
}

.header-fifth {
  font-size: 20px;
  font-weight: bold;
}
