$color-primary: #112432;
$box-shadow: 0 4px 10px rgba(0,0,0,.15);

* {
  font-family: Open Sans;
}

body {
  background-color: #f8f8f8;
}

header {
  padding: 100px 0;
}

section {
  padding: 50px 0;
}

svg {
  margin-right: 7.5px;

  & path {
    fill: $color-primary;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .tag {
    border: 2px solid $color-primary;
    border-radius: 50px;
    padding: 1.5px 10px;
    color: $color-primary;
    margin-right: 2.5px;
    margin-bottom: 2.5px;
  }
}
