$color-primary: #296E85;
$color-secondary: #B3E0FF;
$box-shadow: 0 4px 8px rgba(0,0,0,.15);

* {
  font-family: Open Sans;
  color: #333;
  scroll-behavior: smooth;
}

body {
  // background-color: #f8f8f8;
}

header {
  padding: 100px 0;

  & p {
    font-size: 20px;
  }
}

nav {
  position: absolute;
  background-color: $color-secondary;
}

.navbar-nav {
  flex-direction: row;
}

@media (max-width: 600px) {
  .nav-item {
    margin-left: 15px;
  }
}

section {
  padding: 50px 0;
}

svg {
  margin-right: 7.5px;

  & path {
    fill: $color-primary;
  }
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .tag {
    border: 2px solid $color-primary;
    border-radius: 50px;
    padding: 1.5px 10px;
    color: $color-primary;
    margin-right: 2.5px;
    margin-bottom: 2.5px;
    font-size: 15px;
    font-weight: normal;
  }

  .acquired {
    border-color: rgb(138, 172, 23);
    color: rgb(138, 172, 23);
  }

  .deprecated {
    border-color: rgb(209, 54, 54);
    color: rgb(209, 54, 54);
  }
}

.copyright {
  display: block;
  width: 100%;
  background-color: $color-primary;
  text-align: center;
  padding: 5px 0;
  margin-top: 50px;

  & small {
    color: white;
  }
}
