.about-grid {
  grid-template-columns: 1fr 450px;

  & img {
    border-radius: 100px;
  }
}

@media (max-width: 1000px) {
  .about-grid {
    grid-template-columns: repeat(auto-fill, 100%) !important;
  }
}
