header {
  background-color: $color-tertiary;
}

.logo-banner {
  background-color: #f3f3f3;

  .label {
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #aaa;
    margin-bottom: 15px;
  }

  .logo-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    justify-content: space-around;

    & img {
      filter: grayscale(100%);
      opacity: 0.8;
      margin: 15px;
    }

    .tks {
      width: 100px;
    }

    .launchx {
      width: 140px;
    }

    .leangap {
      width: 120px;
    }

    .cvt {
      width: 180px;
    }

    .beeznests {
      width: 90px;
    }
  }
}

@media (max-width: 1000px) {
  .logo-grid {
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr)) !important;
  }
}

footer {
  background-color: white;
  padding: 30px;
  box-shadow: $box-shadow;

  .social-media {
    display: grid;
    grid-template-columns: repeat(4, 25px);
    grid-gap: 10px;
  }
}
