.swiper-slide {
  border-radius: 8px;
}

.product-slide {
  border-radius: 8px;
  padding: 50px;

  .tags .tag {
    border-color: white !important;
    color: white;
  }

  & * {
    color: white;
  }

  & .split-grid {
    align-items: stretch !important;
    grid-gap: 10px;

    & table {
      table-layout: fixed;
      height: 100%;
      width: 100%;

       & td {
         text-align: center;

         .number {
           display: block;
           font-size: 50px;
           font-weight: bold;
           line-height: 55px;
         }
       }
    }
  }
}

@media (max-width: 1000px) {
  .product-slide {
    & .split-grid {
      grid-template-columns: repeat(auto-fill, 100%);
    }
  }
}
