.swiper-slide {
  border-radius: 8px;
}

.swiper-container {
  padding-bottom: 45px !important;
}

.swiper-button-prev, .swiper-button-next {
  background-color: white;
  padding: 15px 22.5px;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);

  &::after {
    font-size: 22.5px !important;
  }
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 22.5px;
}

.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 22.5px;
}

.product-slide {
  border-radius: 8px;
  padding: 50px;

  & * {
    color: white;
  }

  & .split-grid {
    align-items: stretch !important;
    grid-gap: 10px;

    & table {
      table-layout: fixed;
      height: 100%;
      width: 100%;

       & td {
         padding: 15px;
         text-align: center;

         .number {
           display: block;
           font-size: 50px;
           font-weight: bold;
           line-height: 55px;
         }

         .date {
           font-size: 32.5px;
         }
       }
    }
  }
}

@media (max-width: 1000px) {
  .product-slide {
    & .split-grid {
      grid-template-columns: repeat(auto-fill, 100%);
      grid-gap: 0px;

      table {
        display: none;
      }
    }
  }
}
