.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 30px;

  .project {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: $box-shadow;

    .tags {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .tag {
        border: 2px solid $color-primary;
        border-radius: 50px;
        padding: 1.5px 10px;
        color: $color-primary;
        margin-right: 2.5px;
        margin-bottom: 2.5px;
      }
    }
  }
}
