.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 30px;

  .project {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: $box-shadow;
  }
}
